* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 224, 199);
    padding: 1rem 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.nav-links{
    list-style: none;
    display: flex;

}

.nav-links li{
    margin-left: 30px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #007bff;
}

.btn-nav{
    background-color: #007bff;
    color: white !important;
    padding: 8px 20px;
    border-radius: 5px;
}

.btn-nav:hover{
    background-color: #0056b3;
}

.hamburger{
    display: none;
}

.hero{
    height: 90vh;
    background: linear-gradient(135deg,#667eea 0%,#764ba2 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.hero-content h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 30px;
    opacity: 0.9;
}

.btn-main{
    text-decoration: none;
    background-color: white;
    color: #a986cb;
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 600;
    transition: transform 0.3s ease;
    display: inline-block;
}

.btn-main:hover{
    transform: scale(1.05);
    background-color: #f1f1f1;
}

.feature-section{
    padding: 80px 5%;
    text-align: center;
    background-color: #f9f9f9;
}

.feature-section h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
}

.featires-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0, 1);
    transition: transform 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card h3{
    margin-bottom: 15px;
    color: #333;
}

.card p{
    color: #666;
    line-height: 1.6;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
@media (max-width:768px){
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #333;
    }
    .hero-content h1{
        font-size: 2.5rem;
    }
    .footer-btn{
        background-color: #007bff;
        color: whitesmoke;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }
}

